@charset "UTF-8";
/**********************************************전역세팅*********************************************/

/*이곳에서 클라이언트 전역의 세팅값을 제어합니다*/

*{margin: 0px; padding: 0px;}




/************************************BG_Notice_View****************************************************/
/*View컨테이너 에 대한 디폴트 세팅값 입니다*/
.View{position: relative; width: 1000px; height: 700px; border: #f7701f 1px solid;}

/*View컨테이너 내부요소 테이블에 대한 디폴트 세팅값 입니다*/
.View table{border: solid 1px black; width: 100%; text-align: center; width: 100%; height: 100%;}
.View table th{border: solid 1px black;}
.View table td{border: solid 1px black;}


.View .Title_row{height: 10%;} /*Title의 라인을 제어합니다*/
.View .img_row{height: 40%;} /*img의 라인을 제어합니다*/
.View .Content_row{height: 40%;} /*Content의 라인을 제어합니다*/
.View .Button_row {height: 10%;} /*button의 라인을 제어합니다*/

.View .Button_row input{margin: 0 30px;} /*button 내부에 있는 인풋을 제어합니다*/


/*******************************************************************************************/